@import "assets/css/home.css";
@import "assets/css/utils.css";
@import "assets/css/response.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}